doctype html
html
head
	title AvaliaMedico - Área do Paciente
	meta(charset="utf-8")
	meta(name="viewport" content="width=device-width, initial-scale=1")
	link(rel="stylesheet" href="https://getbootstrap.com/dist/css/bootstrap.min.css")
	script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js")
	script(src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js")
body
	.container
		// NAVIGATION
		.navbar.navbar-default
			.container-fluid
				.navbar-header
					button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
						span.sr-only Toggle navigation
						span.icon-bar
						span.icon-bar
						span.icon-bar
					a.navbar-brand(href="index.html") AvaliaMedico
				#navbar.navbar-collapse.collapse
					ul.nav.navbar-nav
						li
							a(href="index.html#como-funciona") Como funciona
						li
							a(href="index.html#sobre") Sobre
					ul.nav.navbar-nav.navbar-right
						li.hidden
							a(href="cadastrar.html") Cadastrar gratuitamente
						li.active
							a(href="login.html") {usuario.nickname}
		
		// MAIN
		.row
			.col-md-3
				ul.nav.nav-pills.nav-stacked
					li.active
						a(href="/paciente") Minhas reclamações
					li
						a(href="/paciente/reclamar") Reclamar
					li
						a(href="area-do-paciente-meus-dados.html") Meus dados
			.col-md-6
				ol.breadcrumb
					li
						a(href="/paciente") Minhas reclamações
					li.active #{rec.medico}
				h3 #{rec.medico}
				p #{rec.descricao}
				.row
					.col-md-1
					.col-md-11
						h4 #{rec.resposta == null ? "O médico ainda não respondeu a essa reclamação" : "Resposta"}
						p #{rec.resposta}
				h4 #{rec.resposta == null ? "" : "Conclusão"}
				p #{rec.conclusao}
			.clearfix.visible-lg
		
		// FOOTER
		footer.footer
			.container 
				p.text-muted Footer
